local_backend: true

backend:
  name: git-gateway
  branch: main

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - name: "home"
        label: "Home Page"
        file: "content/home.yaml"
        format: "yaml"
        fields:
          - { name: "title", label: "Title", widget: "string" }
          - { name: "subtitle", label: "Subtitle", widget: "string" }
          - { name: "story", label: "Story", widget: "text" }

  - name: "construction_types"
    label: "Construction Types"
    files:
      - name: "types"
        label: "All Types"
        file: "content/construction-types.yaml"
        format: "yaml"
        fields:
          - name: types
            label: Types
            widget: list
            fields:
              - { name: "name", label: "Name", widget: "string" }
              - { name: "slug", label: "Slug", widget: "string", hint: "URL-friendly identifier" }
              - { name: "image", label: "Preview Image", widget: "image" }
              - { name: "description", label: "Description", widget: "text" }

  - name: "constructions"
    label: "Constructions"
    folder: "content/constructions"
    create: true
    slug: "{{slug}}"
    extension: "yaml"
    format: "yaml"
    fields:
      - name: "type"
        label: "Type"
        widget: "relation"
        collection: "construction_types"
        search_fields: ["construction_types.*.name"]
        value_field: "construction_types.*.name"
        display_fields: ["construction_types.*.name"]
      - { name: "title", label: "Title", widget: "string", required: false }
      - { name: "description", label: "Description", widget: "text", required: false }
      - name: "images"
        label: "Images"
        widget: "list"
        field: { name: image, label: Image, widget: image }
